/* Panel */
.Panel { 
    border-top: 1px solid #cccccc;
    font-size: 14px;
    height: 45%;
}

.tab { padding: 12px 0; }

.tab span{ 
    padding-left: 24px; 
    color: #f7542e;
    font-weight: 700;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    padding: 12px 0 12px 24px;
}

th:first-child,
td:first-child { width: 25%; }


th:last-child,
td:last-child { width: 75%; }

th { color: #686868;}

tr:last-child td { border-bottom: none;}

/* Input: Text */
textarea {
    outline: none;
    resize: none;
    height: 32px;
    width: 98%;
    border: 0px none;
    box-shadow: 0px 0px 0px 1px inset #b8b8b8;
    font-size: 14px;
    padding: 8px 10px;
    overflow: hidden;
    border-radius: 6px;
}

textarea:focus { box-shadow: 0px 0px 0px 1px inset #f7542e; }

/* Select */
select {
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
    width: 120px;
    padding: 0 6px;
    color: #686868; 
    border-color: #c4c4c4;
}

.disabled option { 
    color: #686868; 
}

/* Input: Color */
input[type='color'] { 
    width: 80%;
}

#td-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 98%;
}

.td-boxes { 
    width: 48%; 
    padding-top: 8px;
}

.box { 
    display: flex;
    justify-content: space-between;
}

/* Media Queries */
@media only screen and (max-width: 1550px) {
    #td-container { flex-flow: column; }

    .td-boxes { width: 100% };
}

@media only screen and (max-width: 900px) {
    input[type='color'] { width: 70%; }
}

@media only screen and (max-width: 750px) {
    input[type='color'] { width: 60%; }
}


