.Author {
    width: 45%;
    margin: 64px auto 0 auto;
    background-color: #333;
    color: #fff;
    padding: 36px 24px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: 700;
}

.genre {
    color: #828282;
    font-size: 14px;
    padding-top: 8px;
}