.Author {
    width: 45%;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 36px 24px;
    display: flex;
    justify-content: space-between;
    animation: opacity 1.2s;
}

.name {
    font-weight: 700;
}

.genre {
    color: #828282;
    font-size: 14px;
    padding-top: 8px;
}

.icon-arrow {
    cursor: pointer;
}

@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1 ;}
}