* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

.App {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    /* height: 100vh; */
}

.random-container {
    display: flex;
    justify-content: flex-end;
    color: #333;
    padding-top: 24px;
}

.random-text {
    display: flex;
    align-items: flex-end;
    margin-right: 6px;
}

.icon-random {cursor: pointer;}

.icon-back {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-left: 480px;
    color: #F7DF94;
}

.material-icons.md-48 { font-size: 48px; }

@media only screen and (max-width:870px) {
    .icon-back { padding-left: 400px; }
}

@media only screen and (max-width:670px) {
    .icon-back { padding-left: 300px; }
}

@media only screen and (max-width:370px) {
    .icon-back { padding-left: 200px; }
}    