.input {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    padding: 16px;
    border: 1px solid #828282;
    border-radius: 8px;
    outline: none;
}

.input-container { 
    position: relative; 
    display: inline-block;
}

/* Default Input */
#input-default:hover,
#input-error:hover,
#input-multiline:hover { border: 1px solid #333333; }

#input-default:focus,
#input-multiline:focus { border: 1px solid #2962ff; }

/* Error Input */
#input-error,
#input-error:focus { border: 1px solid #d32f2f; }

/* Left-Icon Input */
.material-icons.md-28 { 
    font-size: 28px; 
    color: #828282;
}

.input-left--icon {
    position: absolute;
    top: 14px;
    left: 6px;
}

#input-icon-left { padding-left: 42px; }

/* Right-Icon Input */
.input-right--icon { 
    position: absolute;
    top: 14px;
    right: 12px;
}

#input-icon-right { padding-left: 16px;}

/* Validation Input */
#helper-text {
    font-size: 12px;
    padding-top: 4px;
    color: #d32f2f;
}

/* Multiline Input */
#input-multiline {
    resize: none;
    border: 1px solid #828282;
    border-radius: 12px;
    padding-left: 12px;
    padding-top: 12px;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

/* Disabled Input/Textarea */
input[type="text"]:disabled,
textarea:disabled {
    pointer-events: none;
    opacity: 0.6;
}

/* Input Size */
.input-small { width: 210px; }

.input-medium { width: 250px; }

.input-large { width: 290px; }



