.input {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    padding: 16px;
    padding-left: 40px;
    border: 1px solid #828282;
    border-radius: 8px;
    width: 210px;
    outline: none;
}

/* Default Input */
#input-default:hover,
#input-error:hover { border: 1px solid #333333; }

#input-default:focus { border: 1px solid #2962ff; }

/* Error Input */
#input-error,
#input-error:focus { border: 1px solid #d32f2f; }

/* Left-Icon Input */
.input-left--icon {
    position: absolute;
    
}

/* Right-Icon Input */
.input-right--icon {  }

#input-icon {
    color: #828282;
}

