.Sidebar {
    width: 100%;
    max-width: 250px;
    background-color: #fafbfd;
}

.sidebar-title, .Sidebar nav { margin-left: 48px; }
.sidebar-title { 
    display: flex;
    margin-top: 36px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.dev { color: #f7542e; }

.challenges { color: #090f31; }

.Sidebar nav {
    display: flex;
    margin-top: 120px;
}

.main-nav li {
    list-style-type: none;
    color: #9e9e9e;
    margin-top: 24px;
    cursor: pointer;
}

/* .main-nav li:nth-of-type(4) { 
    color: #090f31;
    font-weight: 700;
} */