.SearchBar {
    box-shadow: 0px 1px 6px #0000001a;
    border-radius: 16px; 
    height: 55px;
    display: flex;
    z-index: 999;
}

.search-container {
    display: flex;
    border: none;
    border-right: 1px solid #f2f2f2;
    cursor: pointer;
}

.border-focus {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 12px;
    width: 100%;
    font-family: 'Mulish', sans-serif;
}

.label {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 4px;
    cursor: pointer;
    width: 100px;
}

.input-location {
    outline: none;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 150px;
    display: flex;
}

.add-guest {
    cursor: pointer;
    width: 100px;
    color: #bdbdbd;
}

.expandWidth { width:  40%; }

.padding-left { padding-left: 18px;}

/* SEARCH ICON */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 20%;
}

.icon-container--red {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eb5757;
    color: #fff;
    padding: 8px 22px;
    border-radius: 12px;
}

.material-icons.md-24 { font-size: 24px; }

.search-icon { 
    color: #eb5757;
    cursor: pointer;
}

.search-text {
    padding-left: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 770px) {
    .SearchBar { 
        width: 80%;
        margin: 24px auto 0 auto;
    }

    .search-container { width: 40%;}
}

@media only screen and (max-width: 480px) {
    .SearchBar { 
        width: 100%;
    }
}

@media only screen and (max-width: 380px) {
    .search-container:nth-of-type(1) { width: 50%;}
    .search-container:nth-of-type(2) { width: 35%;}
    .padding-left { padding-left: 12px;}
}