.SearchBar {
    box-shadow: 0px 1px 6px #0000001a;
    border-radius: 16px; 
    height: 55px;
    display: flex;
    z-index: 999;
}

.search-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: none;
    border-right: 1px solid #f2f2f2;
    cursor: pointer;
    padding-left: 18px;
}

.label {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 4px;
    cursor: pointer;
}

.input-location {
    outline: none;
    border: none;
    font-size: 14px;
}

.btn-add--guest {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    width: 80px;
    color: #bdbdbd;
    text-align: left;
}

.expandWidth { width:  40%; }

/* SEARCH ICON */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 20%;
}

.icon-container--red {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eb5757;
    color: #fff;
    padding: 8px 22px;
    border-radius: 12px;
}

.material-icons.md-24 { font-size: 24px; }

.search-icon { 
    color: #eb5757;
    cursor: pointer;
}