.Layout {
    width: 90%;
    max-width: 1510px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.filteredCity-container {
    z-index: 999;
    position: absolute;
    top: 120px;
    width: 40%;
}
