.Layout {
    width: 90%;
    max-width: 1510px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.filtered-container {
    position: absolute; 
    top: 120px;
    width: 79%;
    z-index: 999;
    display: flex;
}

.city-container { width: 45%;}
