.CountryQuiz { position: relative; }

h2 {
    color: #fff;
    text-transform: uppercase;
}

.quiz-card {
    background-color: #fff;
    border-radius: 16px;
    padding: 18px 24px;
    /* height: 320px; */
    width: 380px;
    margin-top: 12px;
}

.quiz-card ul {
    list-style-type: none;
}

.quiz-card ul li {
    margin-top: 18px;
    border: 2px solid rgba(98, 103, 208, 0.702);
    padding: 8px 12px;
    border-radius: 12px;
    color: #6066D0;
    cursor: pointer;
}

.quiz-card ul li:hover {
    border: 2px solid #F9A826;
    background-color: #F9A826;
    color: #fff;
}

.img-quiz {
    position: absolute;
    right: 0;
    top: -28px;
}