.des_box1 {
    display: flex;
    align-items: center;
}

.des-title { 
    font-size: 20px;
    font-weight: 500;
}

.des-type { margin-left: 18px; }

/* .des_box2 { margin-top: 6px; } */

.time-date {
    display: flex;
    align-items: center;
    color: #B9BDCF;
    font-size: 12px;
    margin-top: 8px;
}

.des_box3 {
    margin: 24px 0;
    display: flex;
}

.box3-name--loc {
    display: flex;
    flex-direction: column;
}

.des-logo {
    max-width: 60px;
    width: 100%;
    margin-right: 8px;
    /* border: 1px solid black; */
}

.des-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.des-not-found {
    font-size: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.des-name { font-weight: 500; }

/* DESCRIPTION */
.description p {
    font-weight: 400;
    margin-bottom: 18px;
}

.description ul{
    margin-left: 32px;
    margin-bottom: 12px;
}

