.ButtonStories { 
    display: flex;
    flex-flow: column;
    width: 100%;
}

.ButtonStories li{ 
    padding-left: 64px;
    font-size: 12px; 
    width: 100%;
}

#highlighted {
    background-color: #f7542e;
    color: #fff;
}