.Job {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 140px;
    box-shadow: 0px 2px 4px #0000000d;
    background-color: #fff;
    margin-bottom: 24px;
}

.job-left--box { display: flex;}

.job-right--box {
    display: flex;
    align-items: flex-end;
    margin-right: 12px;
    padding-bottom: 18px;
    color: #B9BDCF;
    font-size: 14px;
}

.logo_container {
    padding: 10px;
    max-width: 120px;
    width: 100%;
}

.logo_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.not-found {
    background-color: #F2F2F2;
    height: 100px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BDBDBD;
}


.info_container { 
    width: 540px;
    margin-left: 12px;
    /* border: 1px solid red; */
}

.company-name, .job-type { font-size: 14px; }

.company-name, .job-type, .job-title { margin-top: 12px;}

.job-title { font-size: 20px;}

.job-type {
    border: 1px solid #334680;
    border-radius: 4px;
    width: 80px;
    text-align: center;
    padding: 4px;
}

.city_container, .time_container { 
    display: flex;
    align-items: center;
}

.city_container { margin-right: 18px; }

.city-icon, .time-icon { 
    font-size: 20px;
    margin-right: 6px;
}



