.Job {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 140px;
    box-shadow: 0px 2px 4px #0000000d;
    background-color: #fff;
    margin-bottom: 24px;
}

/* Company Logo */
.logo_container {
    padding: 10px;
    max-width: 120px;
    width: 100%;
}

.logo_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.not-found {
    background-color: #F2F2F2;
    height: 120px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BDBDBD;
}

/* Job Details: title, company name, type, date posted & location */
.job_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 12px;
}

.info_container { 
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

.company-name, .type { font-size: 14px; }

.job-title { font-size: 18px;}

.type {
    border: 1px solid #334680;
    border-radius: 4px;
    width: 80px;
    text-align: center;
    padding: 4px;
}

.job_time--date {
    height: 30%;
    display: flex;
    justify-content: flex-end;
}

.flex-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
    width: 300px;
}

.city_container, .time_container { 
    display: flex;
    color: #B9BDCF;
    font-size: 14px;
}

.city-icon, .time-icon { 
    font-size: 20px;
    margin-right: 6px;
}

@media only screen and (max-width: 550px) {
    .Job { height: 170px;}
    
    .job_details { width: 70%; }

    .job_time--date { 
        justify-content: flex-start;
    }

    .job-title { font-size: 16px;}
}

@media only screen and (max-width: 480px) {
    .Job { height: 180px;}

    .company-name, .type { font-size: 12px; }

    .info_container { height: 60%; }

    .job_time--date { height: 40%; }

    .flex-end {
        flex-direction: column;
        justify-content: space-around;
        padding-right: 0;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 400px) {
    .logo_container {
        display: flex;
        align-items: center;
    }

    .not-found {
        text-align: center;
    }
}




