.property-card { 
    margin-top: 32px;
    width: 30%;
}

.property-image { width: 100%; }

figure {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 12px;
    width: 100%;
    height: 270px;
}

.property-detail {
    display: flex;
    margin: 18px 0;
    justify-content: space-between;
    align-items: center;
}

.first-box { width: 30%; }

.second-box {
    display: flex;
    justify-content: space-between;
}

.host {
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #4f4f4f;
    padding: 4px 8px;
    border-radius: 12px;
}

.type {
    color: #828282;
    padding-right: 6px;
}

.rating-box { display: flex; }

.rating-icon { 
    color: #eb5757; 
    margin-right: 6px;
}

.material-icons.md-18 { font-size: 18px; }

.property-description {
    color: #333333;
    font-weight: 700;
    margin-top: 18px;
}

@media only screen and (max-width: 1430px) {
    .first-box { width: 35%;}
}

@media only screen and (max-width: 1325px) {
    .property-card { width: 45% };
}

@media only screen and (max-width: 905px) {
    .property-card { 
        width: 100%; 
        margin-top: 48px;
    }

    figure { height: 300px; }
}

@media only screen and (max-width: 410px) {
    .property-detail { flex-wrap: wrap; }
    
    .first-box { width: 100%; }

    .second-box { margin-top: 18px; width: 100% !important;}
}