.Highlights {
    margin-top: 56px;
    color: #E7E7EB;
}

.highlight_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* WIND STATUS */
.card-direction { margin-top: 24px; }

.icon-wind {
    background-color: #ffffff4d;
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 12px;
}

.direction { text-transform: uppercase; }

/* HUMIDITY */
.card-humidity { 
    margin-top: 12px;
    width: 260px;
}

.humidity-percentage {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.humidity-bar {
    background-color: #E7E7EB;
    width: 100%;
    margin: 4px 0;
}

.bar-percentage {
    background-color: #FFEC65;
}

.bar {
    border-radius: 8px; 
    height: 8px;
}

.percentage-sign { float: right;}

@media only screen and (max-width: 1100px) {
    .highlight_cards { flex-direction: column;}
}

@media only screen and (max-width: 350px) {
    .card-humidity { width: 240px; }
}


