.CountryQuiz { position: relative; }

h2 {
    color: #fff;
    text-transform: uppercase;
}

.quiz-card {
    background-color: #fff;
    border-radius: 16px;
    padding: 18px 24px;
    /* height: 320px; */
    width: 380px;
    margin-top: 12px;
}

.quiz-card ul {
    list-style-type: none;
}

.quiz-card ul li {
    /* margin-top: 18px;
    border: 2px solid rgba(98, 103, 208, 0.702);
    padding: 8px 12px;
    border-radius: 12px;
    color: #6066D0;
    cursor: pointer; */
}

.list-card:hover {
    border: 2px solid #F9A826;
    background-color: #F9A826;
    color: #fff;
}

.list-card {
    margin-top: 18px;
    border: 2px solid rgba(98, 103, 208, 0.702);
    padding: 8px 12px;
    border-radius: 12px;
    color: #6066D0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.img-quiz {
    position: absolute;
    right: 0;
    top: -28px;
}

/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: flex-end;  
}
.btn {
   border-radius: 12px;
   padding: 16px;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
   outline: none;
}

.btn-next {
    border: none;
    width: 100px;
    background: #F9A826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    margin-bottom: 8px;
}