.FilterSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin: 28px auto;
    padding: 0 12px;
    height: 50px;
    cursor: pointer;
    border: 1px solid transparent;
}

.FilterSearch:hover { 
    border: 1px solid #616475; 
}

.filter-location { 
    color:#E7E7EB;
    display: flex;
    align-items: center;
}

.filter-icon { 
    color: #616475;
}