.FilterSearch {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 36px auto;
    padding: 18px 12px;
    cursor: pointer;
}

.FilterSearch:hover { border: 1px solid #616475; }

.filter-location { 
    color:#E7E7EB;
    display: flex;
    align-items: center;
}

.filter-icon { 
    color: #616475;
}