.JobDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
}

/* LEFT DETAILS */
.left_details {
    width: 15%;
    /* border: 1px solid red; */
}

.back-to-box {
    color: #1E86FF;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 24px;
}

.icon-back { 
    font-size: 20px;
    margin-right: 12px;
    cursor: pointer;
}

.how-box--title {
    text-transform: uppercase;
    color: #B9BDCF;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
}

.how-box--text { font-size: 12px; }

.how-link {
    padding: 0 4px;
    color: #1E86FF;
}

.right_details {
    width: 85%;
}