.btn {
    padding: 14px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    overflow: hidden;
}

/* Default Button */
#btn-default {
    color: #3f3f3f;
    box-shadow: 0 0 2px #efefef;
    border: none;
}

#btn-default:hover, 
#btn-default:focus {
    background-color: #aeaeae;
    border: 4px solid #d6d6d6;
    box-shadow: 0 0 4px #d6d6d6;
}

/* Outline Button */
#btn-outline {
    color: #3D5AFE;
    border: 1px solid #3D5AFE;
    box-shadow: 0 0 2px #3D5AFE;
    background-color: #fff;
}

#btn-outline:hover, 
#btn-outline:focus { 
    background-color: #2962ff1a; 
    border: 4px solid #3D5AFE;
    box-shadow: 0 0 4px #3D5AFE;
}

/* Text Button */
#btn-text {
    color: #3D5AFE;
    border: none;
    background-color: #fff;
}

#btn-text:hover, 
#btn-text:focus { 
    background-color: #2962ff1a; 
    border: 4px solid #3D5AFE;
    box-shadow: 0 0 4px #3D5AFE;
}

/* Left-Icon Button */
.btn-left--icon { float: left; }

/* Right-Icon Button */
.btn-right--icon { float: right; }

#btn-icon, #btn-primary, #btn-secondary, #btn-danger {
    color: #fff;
    background-color: #2962ff;
    border: none;
}

#btn-icon, #btn-primary { box-shadow: 0 0 4px #2962ff;}

/* Primary Button */
#btn-primary:hover, 
#btn-primary:focus,
.btn-icon:hover,
.btn-icon:focus { 
    background-color: #0039Cb;
    border: 4px solid #4169e1d5;
    box-shadow: 0 0 3px #4169e1d5;
}

/* Secondary Button */
#btn-secondary { 
    background-color:#455a64; 
    box-shadow: 0 0 4px #455a64;
}

#btn-secondary:hover, 
#btn-secondary:focus { 
    background-color: #1c313a; 
    border: 4px solid #69acc9;
    box-shadow: 0 0 3px #69acc9;
}

/* Danger Button */
#btn-danger { 
    background-color: #d32f2f; 
    box-shadow: 0 0 4px #d32f2f;
}

#btn-danger:hover, 
#btn-danger:focus { 
    background-color: #9a0007; 
    border: 4px solid #e77479;
    box-shadow: 0 0 3px #e77479;
}

/* Disabled Button */
button[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

/* Button Sizes */
.btn-small { width: 140px; }

.btn-medium { width: 180px; }

.btn-large { width: 220px; }