.Canvas {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

@media only screen and (max-width: 750px) {
    .Canvas { 
        /* display: none; */
    }
}