/* BASIC SETUP */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333333;
}

/* APP */
.App {
    max-width: 810px;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 30px 0;
}