.ButtonStates { 
    display: flex;
    flex-flow: column;
    width: 100%;
}

.ButtonStates li{ 
    padding-left: 64px;
    font-size: 12px; 
    width: 100%;
}

#highlighted {
    background-color: #f7542e;
    color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 750px) {
    .ButtonStates li{ padding-left: 56px;}
}

@media only screen and (max-width: 600px) {
    .ButtonStates li{ padding-left: 84px;}
}