/* FOOTER */
.footer-container {
    margin: 35px 0;
    width: 100%;
    color: #828282;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: inherit;
    padding: 0 4px;
}

#username {
    color: #000;
}

@media only screen and (max-width: 400px) {
   footer {
       justify-content: center;
   }
}