.Quote {
    width: 50%;
    margin: 140px auto 64px auto;
    animation: opacity 1.5s;
}

.Quote p {
    font-size: 32px;
    border-left: 8px solid #F7DF94;
    padding: 8px 0 8px 82px;
    font-weight: 500;
}

@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1 ;}
}

@media only screen and (max-width:1100px) {
    .Quote { width: 60%; }
}

@media only screen and (max-width:870px) {
    .Quote { width: 70%; }
} 

@media only screen and (max-width:670px) {
    .Quote { width: 80%; }

    .Quote p { 
        font-size: 28px; 
        padding-left: 58px;
    }
} 

@media only screen and (max-width:570px) {
    .Quote { width: 100%; }

    .Quote p { 
        font-size: 24px; 
        padding-left: 36px;
    }
} 

@media only screen and (max-width: 370px) {
    .Quote p { 
        font-size: 18px; 
        padding-left: 28px;
    }
} 
