.QuizCard { 
    margin-top: 28px; 
    margin-bottom: 12px;
}

/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: flex-end;  
}

.btn {
   border-radius: 12px;
   padding: 16px;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
   outline: none;
}

.btn-next {
    border: none;
    width: 100px;
    background: #F9A826;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    margin-top: 18px;
}