.li-tab {
    list-style-type: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.active {
    content: "";
    position: absolute;
    border-top: 4px solid #2F80ED;
    border-radius: 4px 4px 0px 0px;
    width: 80px;
    height: 2px;
    display: block;
    bottom: 0;
}