.li-tab {
    list-style-type: none;
    font-weight: 700;
    text-align: center;
}


.li-tab:after {
    content: "";
    border-top: 4px solid #2F80ED;
    border-radius: 4px 4px 0px 0px;
    width: 80px;
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
}