.Tabs { position: relative; }

.ul-tabs {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    /* border: 1px solid black; */
    padding: 18px;
}

.underline {
    border-top: 2px solid #bdbdbd;
    position: absolute; 
    height: 2px;
    width: 100%;
    max-width: 850px;
    bottom: 20px;
}