.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    height: 420px;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

@media only screen and (max-width: 770px) {
    .dropdown {
        height: 650px;
    }
}