* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F7FB;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    color: #334680;
    height: 100vh;
    width: 90%;
    max-width: 1650px;
    margin: 0 auto;
}